{%- assign compare_at_price = product_or_variant.compare_at_price -%}
{%- assign price = product_or_variant.price -%}
<div class="price {% if compare_at_price > price %}price--compare{% endif %}">
  {%- if compare_at_price > price -%}
    <span class="price__sale">{{ price | money }}</span>
    <span class="price__compare">{{ compare_at_price | money }}</span>
  {%- else -%}
    <span>{{ price | money }}</span>
  {%- endif -%}
</div>
